<template>
  <div id="app" class="container">
    <div id="header">
      <h1 id="title" class="thin">Prezi Consumer</h1>
      <h5 id="subtitle-1" class="thin">Here you can find all your next level presentations.</h5>
      <h5 id="subtitle-2" class="thin">We are not talking about the boring and static files but the really awesome ones!</h5>
    </div>

    <hr />

    <preziList></preziList>
  </div>
</template>

<script>
import PreziList from './PreziList';

export default {
  components: { PreziList },
};
</script>
