<template>
  <div id="list">
    <div class="row" id="features">
      <div class="form col s12">
        <div class="row">
          <div class="input-field col s9">
            <input v-model="targetTitle" type="text" id="search-title" placeholder="What title are you looking for?" />
            <label for="search-title">Search</label>
          </div>
          <div class="input-field col s3">
            <input v-model="orderByDate" type="checkbox" id="order-by-date" />
            <label for="order-by-date">Order by date?</label>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div id="content-data">
      <div v-if="filteredPrezis.length === 0" class="row">
        <div class="col s12">
          <span>Sorry, there is no Prezi with this title... :(</span>
        </div>
      </div>

      <div class="row">
        <div class="detail col s6" v-for="prezi in filteredPrezis">
          <preziDetail v-bind:preziData="prezi" />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import PreziDetail from './PreziDetail';

export default {
  name: 'preziList',
  components: {
    PreziDetail,
  },
  data() {
    return {
      targetTitle: '',
      orderByDate: false,
    };
  },
  computed: {
    ...mapGetters({
      prezis: 'allPrezis',
    }),
    filteredPrezis() {
      let allPrezis = this.prezis;

      if (this.targetTitle) {
        allPrezis = allPrezis.filter(prezi => prezi.title === this.targetTitle);
      }

      if (this.orderByDate) {
        const toDate = function toDate(dateAsString) {
          const from = dateAsString.split('-');
          return new Date(from[0], from[1] - 1, from[2]);
        };

        allPrezis = allPrezis.slice().sort((a, b) => toDate(a.createdAt) - toDate(b.createdAt));
      }

      return allPrezis;
    },
  },
  created() {
    this.$store.dispatch('getAllPrezis');
  },
};
</script>

<style>
  .detail {
    margin-bottom: 5px;
  }
</style>
