<template>
  <div class="row">
    <div id="thumbnail" class="col s4">
      <img id="thumbnail-img" v-bind:src="preziData.thumbnail" width="125" class="z-depth-3">
    </div>

    <div id="info" class="col s8">
      <div class="row">
        <div class="col s12">
          <label for="info-uid">UID</label>
          <span id="info-uid">
            {{ preziData.uid }}
          </span>
        </div>

        <div class="col s12">
          <label for="info-title">TITLE</label>
          <span id="info-title">
            {{ preziData.title }}
          </span>
        </div>

        <div class="col s12">
          <label for="info-created-at">CREATED AT</label>
          <span id="info-created-at">
            {{ preziData.createdAt }}
          </span>
        </div>

        <div class="col s12">
          <div class="chip">
            <img id="info-creator-profile" v-bind:src="preziData.creator.profileUrl" v-bind:alt="preziData.creator.name">

            <span id="info-creator-name">
              {{ preziData.creator.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'preziDetail',
  props: {
    preziData: {},
  },
};
</script>
